@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #0b0c10;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #66fcf1;
    border-radius: 100vh;
    border: 3px solid #66fcf1;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #45a29e;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
